
.cartEmpty {
  text-align: center;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin: 10px 0;
    text-align: center;
    color: #999;
  }

  .btn {
    margin-top: 20px;
  }
}