* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  li {
    list-style: none;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  padding: 1em 2em;
  text-align: center;
  position: relative;
  font-weight: 600;
  cursor: pointer;

  span {
    padding: 0 10px;
  }

  svg {
    transform: translateX(0);
    transition: .3s ease-in-out;
  }

  &:hover {
    svg {
      transform: translateX(5px);
      transition: .3s ease-in-out;
    }
  }

  &:hover {
    svg.left {
      transform: translateX(-5px);
      transition: .3s ease-in-out;
    }
  }
}

.btn_green {
  background: #9DD558;
  color: #fff;
  transition: .3s ease-in-out;

  &:hover {
    background: #719A3F;
    transition: .3s ease-in-out;
  }
}

.default_label {
  position: relative;
  cursor: pointer;
}

.default_input {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  width: 100%;
  height: 45px;
  padding: 0 18px;
}

.search_input {
  max-width: 250px;
  padding: 0 18px 0 46px;
  transition: .3s ease-in-out;

  &:focus-visible {
    transition: .3s ease-in-out;
  }

  &:focus-visible ~ svg path {
    stroke: #000;
    transition: .3s ease-in-out;
  }
}

.item_remove {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  background: #fff;
  transition: .3s ease-in-out;
  cursor: pointer;

  &:hover {
    border: 1px solid #DBDBDB;
    transition: .3s ease-in-out;
  }

  & span {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 2.5px;
    background: #F2F2F2;
    border-radius: 5px;
    transform-origin: center;
    transition: .3s ease-in-out;
  }

  & span:first-child {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  & span:last-child {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover span {
    background: #DBDBDB;
    transition: .3s ease-in-out;
  }
}

body {
  padding: 50px 0;
  font-size: 16px;
  line-height: 1.2;
  color: #000000;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E7F6FF;
}

.wrapper {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.main_title {
  font-weight: 700;
  font-size: 32px;
}

.content {
  padding: 45px 60px;
}